body {
    margin: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 26px;

    background-color: #f2f2f2;
    color: #000000;


}

.content-color {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, .25);
    max-width: 1200px;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
}

.center-container {
    max-width: 1060px;
    margin: 0 auto;
}

.main-nav {
    position: relative;

    font-weight: 700;
    background-color: #ffffff;
    line-height: 22px;
}

.main-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.menu-list {

    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-link {
    display: block;
    padding: 15px;
}

a.menu-link:hover,
a.menu-link:focus {
    color: #81b3d2;
}

a.menu-link:active {
    color: #cccccc;
}

.main-cover {
    text-align: center;
}

.main-cover {
    position: relative;
    background-color: lightblue;
    background-image: url("../img/sedona.jpg");
    background-repeat: no-repeat;
    text-align: center top;
    background-size: cover;
    margin-bottom: 65px;

}

.main-cover::before {
    width: 100%;
    height: 110px;
    bottom: 0;
    content: '';
    position: absolute;
    display: block;
    background-image: url(../img/polygon.svg);
    background-size: 100% auto;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.cause-sedona {
    text-align: center;
    margin-bottom: 50px;

}

.headline h2 {
    font-size: 21px;
    line-height: 26px;
}

.main-search-sedona-container {
    display: block;
    text-align: center;

}

.main-search-sedona {
    font-size: 21px;

    background-color: #766357;
    color: #ffffff;
    width: 570px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 32px;
    padding-left: 140px;
    padding-right: 139px;
    border: none;
}

button.main-search-sedona:hover {
    background-color: #604e43;
}

button.main-search-sedona:active {
    background-color: #503e33;
    color: #857871;
}


.form-container {
    width: 570px;
    margin: 0 auto;
}

.arrival-date-calendar {

    height: 45px;
    margin-top: 75px;
}

.timetables {
    position: relative;
    font-weight: 700;
    left: 170px;
    bottom: 30px;
}

.date-of-visit {
    display: block;
    background-color: #f2f2f2;
    border: none;
    padding-right: 50px;
    width: 350px;
    height: 38px;
    border: none;

    text-align: center;
    font-weight: bold;

}

.date-of-visit:hover {
    background-color: #ebebeb;
    border: none;
    color: #000000;
}

.date-of-visit:focus {
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    color: #000000;

}

.departure-date-calendar {
    width: 460px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.open-calendar-button {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    fill: #a9a9a9;
    left: 310px;
    width: 40px;
    height: 38px;
    bottom: 0px;
    border: none;
    display: block;

    background-color: transparent;


}

.open-calendar-button:hover {
    fill: #000000;
}

.open-calendar-button:active {
    fill: #81b3d2;
}

.date-of-eviction-and-age {
    font-weight: 700;
    margin-left: 50px;
}

.person-flex {
    display: flex;
    justify-content: space-between;
}

.person-input {
    height: 40px;
    width: 280px;
}

.number-input {
    position: relative;
    font-weight: 700;
    margin-bottom: 30px;
    width: 115px;
    left: 170px;
    bottom: 35px;
}

.input {
    display: block;
    padding: 0 50px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #a9a9a9;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-controll {
    position: absolute;
    display: block;
    top: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.number-controll::before,
.number-controll::after {
    position: absolute;
    display: block;
    content: '';
    width: 16px;
    height: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a9a9a9;

}

.number-controll:hover::before,
.number-controll:hover::after {
    background-color: #000000;

}

.min-button {
    left: 0;
}

.max-button {
    right: 0;
}

.max-button::before {
    width: 4px;
    height: 16px;
}

.find-sedona {
    width: 460px;
    margin-left: 60px;
    margin-bottom: 50px;
    font-size: 21px;
    border: none;
    background-color: #81b3d2;
    color: #ffffff;
    padding-top: 17px;
    padding-bottom: 22px;
    padding-left: 198px;
    padding-right: 198px;
}

.find-sedona:hover {
    background-color: #669ec0;
    color: #ffffff;
}

.find-sedona:active {
    background-color: #5496bd;
    color: #7aadcb;
}

.main-footer {
    padding-top: 40px;
    padding-bottom: 35px;

}

.main-flex {

    display: flex;
    justify-content: space-between;

}

.child-flex {
    width: 400px;
}

.visit-s {
    text-align: center;
    font-size: 21px;
}

.main-social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;


}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 46px;

}

.website {
    text-align: center;
}

.social-background {
    width: 48px;
    height: 46px;
    background-color: #81b3d2;
    margin-right: 7px;

}

.social-background:last-child {
    margin: 0;
}

.social-background:hover {
    background-color: #669ec0;
}

.social-background:active {
    background-color: #5496bd;
}

.social-logo {
    fill: #ffffff;
}

.social-logo:hover {
    fill: #ffffff
}

.social-logo:active {
    fill: #88b6d1;
}

.footer-logo-img {
    fill: #000000;
}

.footer-logo-img:hover {
    fill: #81b3d2;
}

.footer-logo-img:active {
    fill: #bdbbbc;
}

/** КАТАЛОГ **/


.catalog-priсe {
    margin-left: 30px;
    flex-grow: 1;


}

.catalog-list-info {
    display: flex;

    list-style: none;
    padding-top: 25px;
    padding-bottom: 25px;

}


.sheet-of-hotels {
    font-size: 21px;
    font-weight: 700;
}

.sheet-of-hotels:hover {
    color: #a3c7de;
}

.sheet-of-hotels:active {
    color: #c1c1c1;
}


.info-catalog {
    background-color: #81b3d2;
    color: #ffffff;

    text-align: center;
    font-weight: 700;

    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 17px;
    padding-right: 17px
}

a.info-catalog {
    color: #ffffff;
}

.info-catalog:hover {
    background-color: #669ec0;
}

.info-catalog:active {
    background-color: #5496bd;

}

.info-catalog:active {
    color: #88b6d1;
}

.catalog-item-button {
    background-color: #766357;
    color: #ffffff;

    text-align: center;
    font-weight: 700;

    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

a.catalog-item-button {
    color: #ffffff;
}

.catalog-item-button:hover {
    background-color: #604e43;
    color: #ffffff;
}

.catalog-item-button:active {
    background-color: #503e33;
    color: #857871;
}



.item-rating-count {
    background-color: #f2f2f2;
    color: #8b8b8b;

    width: 110px;
    height: 27px;
    text-align: center;
}

.list-rating-stars {
    display: flex;
    justify-content: flex-end;
}

.item-rating-stars {
    background-image: url(../img/star.svg);
    background-repeat: repeat;
    height: 18px;
    width: 17px;
    margin-right: 5px;
    margin-bottom: 45px;
}

.item-rating-stars:last-child {
    margin-right: 0;
}
